{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="reservation-text text-center my-5 text-white">Make an Appointment</h2>
    <div class="reservation-form-container p-4 rounded shadow-sm ">
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}

            <!-- Full Name Field -->
            <div class="form-group mb-4">
                {{ form.full_name.label_tag }}
                {{ form.full_name }}
            </div>

            <!-- Email Field -->
            <div class="form-group mb-4">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <!-- Phone Number Field -->
            <div class="form-group mb-4">
                {{ form.phone_number.label_tag }}
                {{ form.phone_number }}
            </div>

            <!-- Contact Method Field -->
            <div class="form-group mb-4">
                {{ form.contact_method.label_tag }}
                {{ form.contact_method }}
            </div>

            <!-- Service Required Field -->
            <div class="form-group mb-4">
                {{ form.service_required.label_tag }}
                {{ form.service_required }}
            </div>

            <!-- Date Field -->
            <div class="form-group mb-4">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>

            <!-- Time Field -->
            <div class="form-group mb-4">
                {{ form.time.label_tag }}
                {{ form.time }}
            </div>

            <!-- Additional Details Field -->
            <div class="form-group mb-4">
                {{ form.additional_details.label_tag }}
                {{ form.additional_details }}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Request an Appointment</button>
        </form>
    </div>
</div>
{% endblock %}
